<html>
  <head>
    <title>Already-Taken</title>
  </head>
  <style>
    body{
     text-align: center;
     background: #0d1521;
     font-family: tahoma;
     color: #989898;
    }
    h1{
      font-size: 50px;
      font-family: arial;
    }
    p{
      font-size: 40px;
      font-family: arial;
    }
    a{
      font-size: 30px;
      color: blue;
    }
    a:hover {color: green;font-size: 32px;}
  </style>
  <body>
  	<h1>Oops Username has already been taken!!!</h1>
  	<p>New User?</p>
  	<a href="/signup">SIGNUP</a>
  	<p>Already a user?</p>
  	<a href="/login">LOGIN</a>
  </body>

</html>