<html>
  <head>
  	<title>Home page</title>
    <link href='/assets/homestyle.css' type='text/css' rel='stylesheet'>
  </head>
  <body>
  	<div class='main'>
      <h1>Welcome To The Home Page</h1>
    	<a href="/login">LOGIN</a>
    	<p>New to the site?</p>
    	<br>
    	<a  href="/signup">SIGNUP</a>
    </div>
  </body>
</html>