<html>
  <head>
    <title>Invalid</title>
    <style>
	    body{
	     text-align: center;
	     background: #0d1521;
	     font-family: tahoma;
	     color: #989898;
	    }
	    h1{
	      font-size: 50px;
	      font-family: arial;
	    }
	    p{
	      font-size: 40px;
	      font-family: arial;
	    }
	    a{
	      font-size: 30px;
	      color: blue;
	    }
	    a:hover {color: green;font-size: 32px;}
    </style>
  </head>
  <body>
  	<h1>Oops Invalid Username or Password!!!</h1>
  	<p>New User?</p>
  	<a href="/signup">SIGNUP</a>
  	<p>Give Another Try?</p>
  	<img src="/assets/think.jpeg" height="60" width="60"/>
  	<br>
  	<br>
  	<a href="/login">LOGIN</a>
  </body>

</html>